</body>
<footer>
  <div class="site-logo">
    <h1>Mood Journal</h1>
    <p>A Daily Journal app customized for your needs.</p>
  </div>
  <div class="quick-links">
    <h3>Quick Links</h3>
    <a href="/">Home</a>
    <a href="/posts">Posts</a>
    <a href="/contact">Contact</a>
  </div>
  <div class="follow">
    <h3>Follow us</h3>
    <div class="logos">
      <i class="fa-brands fa-github fa-xl"></i>
      <i class="fa-brands fa-telegram fa-xl"></i>
      <i class="fa-brands fa-facebook fa-xl"></i>
      <i class="fa-brands fa-instagram fa-xl"></i>
      <i class="fa-brands fa-x-twitter fa-xl"></i>
    </div>
    <p class="copyright">Made with love.❤ Darnell, 2024 &copy;</p>
  </div>
</footer>
</html>